/*  Дорогие мои, при программирование давайте не забывать про код стайл, так как нам не просто рабоать вместе
    Но и разбираться в общем коде, шаблон прост, все что возможно я покажу, не стесняемся задаем вопросы
*/


/* Здесь находятся глобальные переменные, классы, атрибуты */

:root {
    --black_color: #000;
    --white_color: #fff;
}

/* Атрибуты */

body {
    margin: 0;
}

p,button,span {
    margin: 0;
    padding: 0;
}

/* Классы */

.flex _{
    display: flex;
}

/* От слова глобальный я думаю все понятно, один раз создали, и забыли, просто используем их по предназначению*/

/* Далее идут пользовательские стили, не забываем, так же идем по иерархии дерева */

/* #######  HEADER  #######*/
header {

}


/* #######  MAIN  #######*/

main {

}


/* #######  FOOTER  #######*/

footer {

}



/* И ВАЖНОЕ ПРАВИЛО, НЕ ЗАБЫВАЕМ СВОИ КОММЕНТЫ ОСТАВЛЯТЬ, ЧТОБЫ ДРУГИМ БЫЛО ЛЕГЧЕ РАЗОБРАТЬСЯ В ВАШЕМ КОДЕ */